/*Imports*/
@import url("https://fonts.googleapis.com/css?family=Encode Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700,800,900,1000|Questrial");
/*End Imports*/
/*Start General CSS*/

body, html {
	font-family: Montserrat;
	background-color: #F1F1F1;
	margin: 0px;
	height: 100%;
	overflow-y: hidden;
 }

 * {
   margin: 0;
 }

 #page {
	 padding-top: 2vh;
	 height: 100%;
 }

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#pageTitle {
	width: 100%;
	background-color: #25AFF4;
	color: #F9F9F9;
	top: 0;
	left: 0;
	padding: 1.5vh 0px;
 }

#centered {
    margin: auto;
    position: relative;
    width: 50vw;
}
#settings {
	display: none;
	position: absolute;
	top: 15%;
	left: 15%;
	width: 70%;
	height: 70%;
	padding: 16px;
	border-radius: 10px;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}
#closeSettings {
	cursor: pointer;
	background-color: #4CC6E3;
	padding: 10px;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 5px;
	color: white;
	position: absolute;
	bottom: 15px;
	right: 15px;
}
.settingsPanel {
	width: 40%;
	margin-top: 10px;
	display: inline-block;
	padding:10px;
	height: 80%;
}
.settingsPanel:first-of-type {
	 border-right-style: solid;
	 border-right-width: 2px;
	 border-right-color: gray;
}
