/*Imports*/
@import url("https://fonts.googleapis.com/css?family=Encode Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700,800,900,1000|Questrial");
/*End Imports*/
/*Start General CSS*/

body, html {
	font-family: Montserrat;
	background-color: #F1F1F1;
	margin: 0px;
	height: 100%;
 }

#pageTitle {
	width: 100%;
	background-color: #25AFF4;
	color: #F9F9F9;
	top: 0;
	left: 0;
	padding: 1.5vh 0px;
 }

#centered {
    margin: auto;
    position: relative;
    width: 50vw;
}
