/*Imports*/
@import url("https://fonts.googleapis.com/css?family=Encode Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700,800,900,1000|Questrial");
/*End Imports*/
/*Start General CSS*/

body, html {
	font-family: Montserrat;
	font-size:1vh;
	background-color: black;
	margin: 0px;
	height: 100%;
	overflow-y: hidden;
 }

 * {
   margin: 0;
 }

 #page {
	 padding-top: 2vh;
	 height: 100%;
 }

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#pageTitle {
	width: 100%;
	background-color: #25AFF4;
	color: #F9F9F9;
	top: 0;
	left: 0;
	padding: 1.5vh 0px;
 }

#centered {
    margin: auto;
    position: relative;
    width: 50vw;
}

#settings {
	display: none;
	position: absolute;
	top: 20%;
	left: 33%;
	width: 30%;
	padding: 5vh;
	padding-bottom: 10vh;
	border-radius: 2vw;
	background-color: #001E5B;
	color: white;
	z-index: 1002;
	overflow: auto;
}
#saveSettings {
	cursor: pointer;
	background-color: #4CC6E3;
	padding: .5vw;
	padding-right: 2vw;
	padding-left: 2vw;
	border-radius: 1vw;
	color: white;
	position: absolute;
	bottom: 1vw;
	right: 1vw;
}
.settingsPanel {
	width: 85%;
	margin-top: 1vw;
	display: inline-block;
	height: 80%;
}
.settingsNote {
	font-size: .68vw;
	color: yellow;
	margin-left:2.5vh;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
}
